.hero {
  position: relative;
}

.carousel .slide {
  position: relative;
}

.carousel .slide img {
  display: block;
  width: 100%;
  height: auto;
  /* Add the following styles */
  max-height: 100vh;
  object-fit: cover;
}

.slide .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.slide .content h1 {
  margin: 0;
  font-size: 24px;
}

.slide .content p {
  margin: 10px 0 0;
  font-size: 16px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .content h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .content p {
    font-size: 1.2rem;
  }
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .content h1 {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
  }

  .content p {
    font-size: 1.4rem;
  }
}
