.company-info {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #edede9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.founder-description {
  margin-left: 20px;
}

.contact-details {
  margin-right: 20px;
}

.icon-links {
  display: flex;
  align-items: center;
}

.icon-links a {
  margin-left: 10px;
  color: #000;
  text-decoration: none;
}

.icon-links i {
  font-size: 20px;
}
