.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Adjusted to align items slightly lower */
  height: 200px;
  padding: 0 20px;
  background-color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;/* Adjusted margin-top to move the logo lower */
}

.logo {
  width: 200px;
  height: auto;
}

.header_list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_list ul {
  list-style: none;
  display: flex;
  font-family: 'sofia-pro-light', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  padding: 30px;
}

.header_list li {
  margin-right: 60px;
  padding: 0 15px;
}

.header_list li a {
  text-decoration: none;
  color: black;
}
